<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<codeBase version="1.0" />
	
	<appSettings>
		<add key="BasePath" value="C:\TomatoSoup\jconnelly-dev\MTG-Proxy-App\"/>
		<add key="InputPath" value="Uploads"/>
		<add key="DownloadPath" value="Images"/>
		<add key="OutputPath" value="PDF"/>
	</appSettings>
	
</configuration>