<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<codeBase version="1.0" />
	
	<appSettings>
		<add key="API-Domain" value="https://api.magicthegathering.io"/>
		<add key="API-Resource" value="cards"/>
		<add key="API-Version" value="v1"/>
		<add key="API-RequestTimeoutSeconds" value="3600"/>
	</appSettings>

</configuration>